//
//  Config.xcconfig
//  tmdb-app
//
//  Created by Juan Fernandez on 20-08-26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


TMDB_API_KEY = 36a0ea2c61318aed9da1344105b42d3e
_SLASH = /
TMDB_BASE_URL = https:$(_SLASH)$(_SLASH)api.themoviedb.org/3
INFOPLIST_KEY_TMDB_API_KEY = $(TMDB_API_KEY)
